html,
body {
  /*overflow-x: hidden;  Hide horizontal scrollbar */
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.navigation {
  font-size: 16px !important;
  font-family: Facit-BoldItalic !important;
  margin: 0 30p !important;
}

.navigation .nav-item .nav-link {
  color: #fff;
  margin-right: 15px;
}

.separador_menu {
  color: #fff;
  font-family: Facit-Lightc;
  font-size: 30px;
}

.navigation .nav-item .nav-link:hoover {
  background-color: #03adb6e8;

  color: #fff;
  border-radius: 5px;
  transition: ease-in 0.5s;
  transition-delay: 0.9s;
}



.vertical_text {
  /* transform: rotate(-90deg);   */
  color: #fff;

  position: absolute;
  z-index: 3;
}

.rotate {
  transform: rotate(-90deg);

  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.iconos {
  color: rgb(107, 107, 107);
  position: relative;
  z-index: 3;
}

/* .menu_barras {
  color: #fff;
} */


.circulo {
  background: #ffffff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  padding: 10px;
}


.row {
  margin-right: 0px;
  margin-left: 0px;
}

.margen_iconos_izquierda {
  margin-right: 12px;
}




/* ----------------- Cards  -----------------------------*/

.corte_cards {
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
}

.card-img-top {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.my_card02 {
  max-width: 80%;
   height: 27rem; 
  position: relative;
 
  margin-top: 30px;
  
}

.carousel-inner{
  height: 50vh;
}




.boton_card {
  background-color: #e50067;
}

.img-rounded {
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.color_background {
  background-color: #24325a;
}

.color_carrusel {
  background-color: #EFF3F7;
}

/* Debajo de cards */



.img_carrusel {
  position: relative;
  left: -420px;
  width: 35vw;
  height: 100%;
  
  /* height: 380px; */
  /* z-index: 2000 !important; */
}

.contenido_card {
  position: relative;

  /* top: -94%; */
  top: -55vh;
  left: 80px;
}

.dimension_card {
  left: 25px;
  position: relative;
  /* //max-height: min-content; */
  width:45vw ;
  height: 80vh;
}

.alto_carrusel {
  position: relative;
  height: 100vh;
}


/* .carousel-control-prev span.carousel-control-prev-icon,
.carousel-control-next span.carousel-control-next-icon {
  color: red; 
} */


/* .carousel-control-prev-icon { opacity:1 !important;color:red;} */


	
.carousel-control-prev-icon {
  
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f79caf' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
}

.carousel-control-next-icon {

   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f79caf' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); 
} 


div.vertical-line{
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  float: left; /* Causes the line to float to left of content. 
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
}


/* .carousel .carousel-indicators li {  background-color: gray; }
.carousel .carousel-indicators li.active { background-color: var(--primary); } */


.color_fondo {
  background-color: #eff3f7;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  
}




.div_content02a {
  background-color: #24325a;
  clip-path: polygon(0% 2%, 100% 0%, 100% 1000%, 0% 100%);
  /* width: 100%;
  height: 100%; */
  /* height: 500px; */
  /* top: -30px; */
  /* position: relative; */
  /* left: 30px; */
}


.div_content02b {
  background-color: #24325a;
  clip-path: polygon(0% 0%, 100% 0%, 100% 97%, 0% 100%);
  /* width: 100%;
  height: 100%; */
  /* height: 500px; */
  /* top: -30px; */
  /* position: relative; */
  /* left: 30px; */
}

.div_content03a {
  background-color: #EFF3F7; 
  /* clip-path: polygon(0 2%, 100% 0%, 100% 97%, 0% 100%); */
  /* width: 100%;
  height: 100%; */
  /* height: 500px; */
  /* top: -30px; */
  /* position: relative; */
  /* left: 30px; */
}

.div_content03b {
  background-color: #EFF3F7; 
   clip-path: polygon(0 0%, 100% 0%, 100% 95%, 0% 100%); 
  /* width: 100%;
  height: 100%; */
  /* height: 500px; */
  /* top: -30px; */
  /* position: relative; */
  /* left: 30px; */
}




.font_card03_id {

  font-family: Facit-Bold;
    color: #e50067;
    margin-bottom: 0;
    font-size: 50px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font_card03_title {

  font-family: Facit-Bold;
    color: #24325A;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 39px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.font_card03_subtitle {

  font-family: Facit-Regular;
    color: #24325A;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 39px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.vertical-line{
  width: 2px; /* Line width */
  background-color: #E50067; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  float: right; /* Causes the line to float to left of content. 
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
    height: 100%;
}

  
  

.iconos2 {
  color: #E50067;
  /* width: 34px;
  height: 34px; */
  /* border-radius: 50%; */
  /* text-align: center; */
  /* line-height: 40px; */
  /* vertical-align: text-top; */
  /* padding: 10px; */
}



.color_contactos {
  color:#E50067;
  font-family: Facit-Regular;
   text-align: left;
  font-size: 12px;

/* 
  font-weight: 200;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  */


}

.footer_path {
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
}




@font-face {
    font-family: Facit-Regular;
    src: url("/fonts/Facit_Regular.otf");
  }
  
  @font-face {
    font-family: Facit-BoldItalic;
    src: url("/fonts/Facit_bold_Italic.otf");
  }
  
  @font-face {
    font-family: Facit-Lightc;
    src: url("/fonts/Facit_Light.otf");
  }
  
  
  @font-face {
    font-family: Facit-Bold;
    src: url("/fonts/Facit_Bold.otf");
  }
  

.font_facit_title_very_small {
    font-family: Facit-BoldItalic;
    color: #ffffff;
     text-align: left;
    font-size: 2.5vw;
  
    font-weight: 200;
  
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase; 
   
   
  }
  
  
  .font_facit_text_small {
    font-family: Facit-Regular;
    color: #E50067;
    text-align: left;
    font-size: 1.5vw;
  
    font-weight: 200;
  
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    selector-locked: false; 
   
  }
  
   /*Cards Fonts */
.font_card_title {
    font-family: Facit-BoldItalic;
    color: #24325a;
    font-style: italic; 
     font-size: 5.5vh;
    font-weight: 100;
     text-transform: uppercase; 
     line-height: 5.5vh;
  }
  
  .font_card_boton {
    font-family: Facit-BoldItalic;
    color: #ffffff;
    /* font-style: italic; */
    font-size: 2.5vh;
    /* font-weight: 100; */
    text-transform: uppercase;
    /* line-height: 250%; */
  }
  
  .font_card_texto {
    font-family: Facit-Regular;
    color: #e42078;
    /* font-style: italic; */
    font-size: 4vh;
    /* font-weight: 100; */
    text-transform: uppercase;
    line-height: 4vh;
  }
     /*Cards Fonts */
  
  .font_facit_text_very_small {
    font-family: Facit-Regular;
    color: #ffffff;
    text-align: left;
    font-size: 13px;
  
    font-weight: 200;
  
    /* letter-spacing: 2px; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    selector-locked: false;
   
  }
  
  
  .font_facit_text_very_small_gris {
    font-family: Facit-Regular;
    color: #cacaca;
    text-align: left;
    font-size: 11px;
  
    font-weight: 200;
  
    /* letter-spacing: 2px; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    selector-locked: false;
   
  }
  
  
  .font_facit_boton_small {
    font-family: Facit-Regular;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
  
    font-weight: 200;
  
    /* letter-spacing: 2px; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    selector-locked: false;
   
  }
  
  .font_facit_text_very_very_small_gris {
    font-family: Facit-Regular;
    color: #cacaca;
    text-align: left;
    font-size: 11px;
  
    font-weight: 200;
  
    /* letter-spacing: 2px; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    selector-locked: false;
   
  }

  .font_title2 {
    font-family: Facit-BoldItalic;
    color: #ffffff;
    /* font-style: italic; */
    font-size: 35px;
    /* font-weight: 100; */
    text-transform: uppercase;
    line-height: 90%;
  }
  
  .font_title3 {
    font-family: Facit-Regular;
    color: #e50067;
  
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 90%;
  }
  
  .font_title4 {
    font-family: Facit-Regular;
    color: #ffffff;
  
    font-size: 16px;
    font-weight: 100;
  
    line-height: 250%;
  }
  
  .font_title5 {
    font-family: Facit-Regular;
    color: #ffffff;
  
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
  }
  
  .font_carrusel {
    font-family: Facit-Regular;
    color: #666666;
  
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
   
  }


 

  .font_title {
    font-family: Facit-Bold;
    color: #24325a;
    
     font-size: 30px;
    font-weight: 100;
     text-transform: uppercase; 
     line-height: 5vh;
  }

  
.font_facit_text2 {
    font-family: Facit-Regular;
    color: #ffffff;
  
    font-size: 16px;
    /* font-weight: 400; */
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .font_second_line1 {
    font-family: Facit-BoldItalic;
    color: #24325a;
  
    font-size: 50px;
    font-weight: 700;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .font_second_line2 {
    font-family: Facit-Regular;
    color: #24325a;
  
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
  }

  
.font_facit_title {
    font-family: Facit-BoldItalic;
    color: #ffffff;
    text-align: left;
    font-size: 90px;
    line-height: 1;
    font-weight: 500;
  
    letter-spacing: 4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    selector-locked: false;
    text-shadow: 1px 3px 5px rgb(0 0 0 / 40%);
  }
  
  .font_facit_title_small {
    font-family: Facit-BoldItalic;
    color: #ffffff;
    text-align: left;
    font-size: 45px;
    line-height: 1;
    font-weight: 500;
  
    letter-spacing: 4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    selector-locked: false;
    text-shadow: 1px 3px 5px rgb(0 0 0 / 40%);
  }
  
  
  .font_facit_title_purple {
    color: #e50067;
  }
  
  .font_facit_text {
    font-family: Facit-BoldItalic;
    color: #ffffff;
    margin-bottom: 100px;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    selector-locked: false;
    text-transform: uppercase;
  }
  
  .font_facit_text1 {
    font-family: Facit-Regular;
    color: #ffffff;
  
    font-size: 20px;
    font-weight: 700;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }



