.item-logo {
  grid-column: 1/2;
  grid-row: 1/2;
}

.item-menu {
  grid-column: 2/3;
  grid-row: 1/2;
}

.item-boton {
  grid-column: 3/4;
  grid-row: 1/2;
}

.item-titulo {
  grid-column: 2/3;
  grid-row: 2/3;
}

.item-logo-movil {
  grid-column: 1/2;
  grid-row: 2/3;
 
}

.size-logo-movil{
  width: 14vw;
}

.titulo1_vista_movil {
  font-family: Montserrat-Regular;
  color:#ffffff;
  font-size: 9.5vw;
  text-shadow: 1px 3px 15px rgb(0 0 0 / 40%);
}

.titulo2_vista_movil {
  font-family: Montserrat-Bold;
  color:#FF599A;
  font-size: 4.8vw;
  text-shadow: 1px 3px 15px rgb(0 0 0 / 40%);
}




.item-img-team-top  {

  


  grid-column: 2/5;
  grid-row: 2/4; 
  justify-self:end;
  align-self: flex-end;
  




}

.texto_parrafo_blanco_team {
  width: 55vw;
}


.img-team-top {
  height: 80vh;
}