
  .font_title_blogs_articles {
    font-family: Montserrat-BoldItalic;
    color: #F82D7C;
    text-align: left;
    font-size: 4rem;
    line-height: 1;
    font-weight: 500;
  
    /* letter-spacing: 4px; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-transform: uppercase; */
    /* selector-locked: false; */
    text-shadow: 1px 3px 5px rgb(0 0 0 / 40%);
  }


  .font_autor_fecha {
    font-family: Montserrat-Regular;
    color: #24325a   ;
    font-size: 1.4rem;
      /* letter-spacing: 4px; */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      /* text-transform: uppercase; */
      /* selector-locked: false; */
      text-shadow: 1px 3px 5px rgb(0 0 0 / 40%);

  }

  .iconos-blogs{
    /* color: #24325a      ; */
    width: 1vw;
    height: 100%;
  }


  .texto-iconos-blogs {
    /* color: #24325a      ; */
    font-size: 0.7rem;
    font-family: Montserrat-Regular;
    
  }


  .contenedor-iconos-blog {
    display: grid;
    /* width: 100%; */

    grid-template-columns: 23% 10% 10% 10% 10% 10%  23%;  /*tres columnas de igual ancho*/
    grid-template-rows: auto; 
    gap: .4em;
    align-items:center; 
    
    

}

.item-1-iconos-blog {
    grid-column: 2/3;
    justify-self:center;
    
}

.item-2-iconos-blog {
    grid-column: 3/4;
    justify-self:center;
    align-self: center;       
}


.item-3-iconos-blog {
    grid-column: 4/5;
    justify-self:center;
    
}

.item-4-iconos-blog {
    grid-column: 5/6;
    justify-self:center;
    align-self: center;       
}


.item-5-iconos-blog {
    grid-column: 6/7;
    justify-self:center;
    
}



.primera-parrafo-blog::first-letter {

    font-family: Montserrat-BoldItalic;
    color: #23335A;
    text-align: left;
    font-size: 2.3rem;
    line-height: 1;
    font-weight: 500;
  
    /* letter-spacing: 4px; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-transform: uppercase; */
    /* selector-locked: false; */
    text-shadow: 1px 3px 5px rgb(0 0 0 / 40%);

}

.letra-parrafo-blog {

    color: #23335A   ;
    font-size: 1rem;
    font-family: Montserrat-Regular;
    
}



.letra-titulo-puntos-blog{
    color: #23335A   ;
    font-size: 1rem;
    font-family: Montserrat-Bold;
}


.texto-flechas-blogs{
    
    font-size: 0.8rem;
    font-family: Montserrat-Bold;
}


.contenido-flechas-blog {
    display: grid;
    /* width: 100%; */

    grid-template-columns: 10% 25% 30% 25% 10%;  /*tres columnas de igual ancho*/
    grid-template-rows: 15vh ; 
    gap: .0em;
    align-items:center; 
    
  }





.item-1-flechas-blog {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self:center;
    text-align: center;
   
    
}

.item-2-flechas-blog {
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self:center;
    text-align: center;
   
}





.texto-flechas-blogs2{
    /* color: #23335A   ; */
    font-size: 0.5rem;
    font-family: Montserrat-Bold;
}




.items-en-linea-hijo {
    display: inline-block;   
}

 a.items-en-linea-padre{
    white-space: nowrap; 
     color:  #24325a     ;
     /* color: yellow!important; */     
 }

 a.items-en-linea-padre:hover{
     color: #F82D7C !important;   
     /* filter:brightness(0) saturate(100%)  invert(27%) sepia(75%) saturate(6500%) hue-rotate(353deg) brightness(101%) contrast(132%); */
 }

.flecha{
    
    /* filter:brightness(0) saturate(100%)  invert(27%) sepia(75%) saturate(6500%) hue-rotate(353deg) brightness(101%) contrast(132%); */
}
 
.flecha:hover{
    filter:brightness(0) saturate(100%)  invert(29%) sepia(93%) saturate(3386%) hue-rotate(321deg) brightness(102%) contrast(94%);
}
 

