.my_card-crashkurse {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  z-index: 3;
  border: 0px !important;
  width: 20vw;
  /* height: 14vw; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) and (orientation: landscape) {
  .card-shop-land {
    width: 50%;
  }
}

.my-card-ancho {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  z-index: 3;
  border: 0px !important;
  width: 60vw;
  /* height: 14vw; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) and (orientation: portrait) {
  .my-card-ancho {
    width: 80vw !important;
  }
}

.card-footer-crashkurse {
  /* padding: 0.5rem 1rem; */

  color: #ffffff;
  /* border: 1px solid blue!important;  */

  /* background-color: rgba(248, 45, 124, 42%) !important; */
  background-color: #24325a !important;

  /* -webkit-border-radius: 12px!important; 
    -moz-border-radius: 12px!important; */

  -webkit-border-bottom-left-radius: 12px !important;
  -webkit-border-bottom-right-radius: 12px !important;

  -moz-border-bottom-left-radius: 12px !important;
  -moz-border-bottom-right-radius: 12px !important;

  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;

  font-family: Montserrat-Bold;
  font-size: 1vw;

  border: 0px solid #f82d7c;
}

@media (max-width: 767px) and (orientation: portrait) {
  .card-footer-crashkurse {
    font-size: 4vw !important;
  }
}

.card-footer-crashkurse:hover {
  color: white !important;
  background-color: #f82d7c !important;
}

.card-footer-crashkurse:active,
.card-footer-crashkurse:visited {
  color: white !important;
  background-color: rgba(248, 45, 124, 70%) !important;
  /* background-color: rgba(235, 248, 45, 0.7) !important;  */
}

@media (max-width: 767px) and (orientation: portrait) {
  .my_card-crashkurse {
    align-content: center;
    width: 80vw;
  }
  .card-header {
    display: grid;
    align-content: center;
    height: 12vh;
  }
  .card-footer {
    height: 9vh;
  }

  .card-body {
    display: grid;
    align-content: center;
    align-items: center;
    padding: 1rem 0;
  }

  .fechas-facilator-1,
  .fechas-facilator-2 {
    height: 100% !important;
  }

  .fechas-facilator-1 {
    align-self: flex-end;
  }

  .fechas-facilator-2 {
    align-self: baseline;
  }
}

.modal-dialog {
  left: 50%;
  margin-left: -35vw;
}

.modal-config {
  position: relative;
  align-content: center;
  width: 50vw !important;
}

@media (min-width: 992px) {
  .modal-config {
    width: 50vw !important;
    margin-left: -238px !important;
  }
}

@media (max-width: 767px) {
  .modal-config {
    width: 90vw !important;
    padding-right: -17px !important;
  }
  .modal-config {
    margin-left: -45vw !important;
  }
  .modal-config {
    top: 7%;
  }
}
.ancho-modal-cursos {
  position: relative;
  align-content: center;
  width: 70vw;
}

@media (min-width: 992px) {
  .ancho-modal-cursos {
    width: 50vw !important;
  }
  .modal-dialog {
    margin-left: -25vw;
    padding-right: -17px !important;
  }
}

.font-title-modal {
  font-size: 3.6vw !important;
}

@media (max-width: 767px) {
  .ancho-modal-cursos {
    width: 90vw !important;
    padding-right: -17px !important;
  }
  .modal-dialog {
    margin-left: -45vw !important;
  }
  .font-title-modal {
    font-size: 3vw !important;
  }
  .modal-dialog-job {
    top: 9%;
  }
}

.color-body {
  background-color: #e9e9f0 !important;
}

.titulo-card-crashkurse {
  font-family: Montserrat-Black;
  font-size: 1.3vw;
  color: #243a78;
  text-transform: uppercase;
}

@media (max-width: 767px) and (orientation: portrait) {
  .titulo-card-crashkurse {
    font-size: 5vw !important;
  }
  .subtitulo-card-crashkurse {
    font-size: 4vw !important;
  }
}

.titulo-card-crashkurse-new {
  font-family: Montserrat-Black;
  font-size: 1vw !important;
  color: #243a78;
  text-transform: uppercase;
}

.subtitulo-card-crashkurse {
  font-family: Montserrat-ExtraBold;
  font-size: 1vw;
  color: #f82d7c;
}

.subtitulo-card-crashkurse2 {
  font-family: Montserrat-ExtraBold;
  color: #f82d7c;
}

/* @media (max-width:768px){
  .subtitulo-card-crashkurse{
    font-size: 1.5!important;
  }
} */

.fechas-card-crashkurse {
  font-family: Montserrat-SemiBold;
  font-size: 1.6vw;
  line-height: 3vh;
  color: #243a78;
}

@media (max-width: 767px) and (orientation: portrait) {
  .fechas-card-crashkurse {
    font-size: 6vw !important;
  }
}

.fechas-card-titulos {
  font-family: Montserrat-SemiBold;
  font-size: 1.6vw !important;
  line-height: 3vh;
  color: #e42078;
}

.fechas-card-titulos-movil {
  font-family: Montserrat-SemiBold;
  font-size: 5vw;
  line-height: 3vh;
  color: #e42078;
}

@media (max-width: 992px) and (orientation: landscape) {
  .fechas-card-titulos-movil {
    font-size: 3vw !important;
  }
  .titulo-card-crashkurse {
    font-size: 3.4vw !important;
  }
  .fechas-card-crashkurse {
    font-size: 2.7vw !important;
  }
  .card-footer-crashkurse {
    font-size: 2.5vw !important;
  }
  .my_card-crashkurse {
    width: auto;
  }
  .subtitulo-card-crashkurse {
    font-size: 1.8vw;
  }
}

@media (max-width: 767px) and (orientation: portrait) {
  .fechas-card-titulos {
    font-size: 2.2vw !important;
  }
}

.fondo-titulos {
  background-color: white;
}
