.alto_carrusel {
  position: relative;

  min-height: 500px;
}

@media (max-width: 402px) {
  .alto_carrusel {
    min-height: 300px !important;
  }
  .carousel-inner {
    /* height: 350px; */
  }
}

@media (min-width: 403px) and (max-width: 421px) {
  .alto_carrusel {
    min-height: 400px !important;
  }
  .carousel-inner {
    /* height: 300px; */
  }
}

@media (min-width: 422px) and (max-width: 510px) {
  .alto_carrusel {
    min-height: 400px !important;
  }
}

@media (min-width: 511px) and (max-width: 567px) {
  .alto_carrusel {
    min-height: 450px !important;
  }
}

@media (min-width: 705px) and (max-width: 767px) {
  .alto_carrusel {
    min-height: 530px !important;
  }
}

@media (min-width: 768px) and (max-width: 1078px) {
  .alto_carrusel {
    min-height: 450px !important;
  }
}

.zindex-3000 {
  z-index: 3000 !important;
}

.img_carrusel {
  position: relative;
  /* left: -420px; */
  left: -43vw;
  width: 33vw;
  height: 100%;
}

.img_carrusel-team {
  position: relative;

  top: -10px;
  /* left: -420px; */
  left: -33vw;
  width: 33vw;
  height: 100%;
}

.video_carrusel {
  position: relative;
  /* top: -0vw; */
  left: -6vw;

  width: 45vw;
  /* height: 100%; */
}

.contenido_card {
  position: relative;
  left: 3vw;
  top: -26vw;
  width: 35vw;
  height: 145vw;
}

.contenido_card_team {
  position: relative;
  left: 3vw;
  top: -32vw;
  width: 35vw;
  height: 145vw;
}

.dimension_card_carrusel_team {
  /* left: 25px; */
  left: 3vw;
  position: relative;
  max-height: 39vw;
  width: 45vw;
  /* height: 80vh; */
}

/* Sponsors Carrousel */

.content03Carrousel {
  position: relative;
  /* height: 60%; */
  top: -9vh;
}

/*Blog  Carrousel */
.altoCarrousel3 {
  height: 35vh;
}

.img-sponsors-size {
  width: 100%;
  height: auto;
}

.altoCarrousel-sponsors {
  height: 42vh;
}
/* 
.alto_carrusel-videos {
  height: 100%;
} */

.alto-sponsors {
  height: 40vh;
}



@media (max-height: 300px) {
  .altoCarrousel3 {
    height: 80vh;
  }
  /* .alto_carrusel-videos {
    height: 189vh;
  } */

  
.alto-sponsors {
  height: 68vh;
}


}

@media (min-height: 301px) and (max-height: 400px)  /*and (orientation: portrait)*/{
  .altoCarrousel3 {
    height: 68vh;
  }
  /* .alto_carrusel-videos {
    height: 140vh;
  } */

  .alto-sponsors {
    height: 69vh;
  }
  

  .img-sponsors-size {
    width: 30%;
    height: auto;
  }
}
/* 
@media (min-height: 301px) and (max-height: 400px) and (orientation: landscape) {
  .altoCarrousel3 {
    height: 68vh;
  }
  .alto_carrusel-videos {
    height: 100vh;
  }
} */

@media (min-height: 401px) and (max-height: 500px) {
  .altoCarrousel3 {
    height: 69vh;
  }
  /* .alto_carrusel-videos {
    height: 88vh;
  } */
}
/* 
@media (min-height: 401px) and (max-height: 450px) and (orientation: landscape){
  .alto_carrusel-videos {
    height: 94vh;
  }
} */
/* 
@media (min-height: 451px) and (max-height: 500px)and (orientation: landscape) {
  .alto_carrusel-videos {
    height: 102vh;
  }
} */

@media (min-height: 501px) and (max-height: 600px) {
  .altoCarrousel3 {
    height: 46vh;
  }
  /* .alto_carrusel-videos {
    height: 70vh;
  } */
}

@media (min-height: 501px) and (max-height: 600px) /*and (max-width: 350px) */{
  .altoCarrousel3 {
    height: 59vh;
  }
  /* .alto_carrusel-videos {
    height: 70vh;
  } */
}

@media (min-height: 601px) and (max-height: 700px) {
  .altoCarrousel3 {
    height: 59vh;
  }
/* 
  .alto_carrusel-videos {
    height: 50vh;
  } */

  .img-sponsors-size {
    width: 80%;
    height: auto;
  }
}

@media (min-height: 601px) and (max-height: 700px) /*and (orientation: landscape) */{
  /* .alto_carrusel-videos {
    height: 79vh;
  } */
}

@media (min-height: 701px) and (max-height: 800px)/* and (orientation: portrait)*/{
  .altoCarrousel3 {
    height: 60vh;
  }
  /* .alto_carrusel-videos {
    height: 48vh;
  } */
}

@media (min-height: 801px) and (max-height: 900px) {
  .altoCarrousel3 {
    height: 35vh;
  }
  /* .alto_carrusel-videos {
    height: 50vh;
  } */
}

@media (min-height: 801px) and (max-height: 900px) /*and (max-width: 992px) */{
  .altoCarrousel3 {
    height: 58vh;
  }
  /* .alto_carrusel-videos {
    height: 51vh;
  } */
}

@media (min-height: 901px) and (max-height: 1000px) {
  .altoCarrousel3 {
    height: 54vh;
  }
  /* .alto_carrusel-videos {
    height: 54vh;
  } */
}

@media (min-height: 1001px) and (max-height: 1100px) {
  .altoCarrousel3 {
    height: 37vh;
  }
  /* .alto_carrusel-videos {
    height: 53vh;
  } */
}

@media (min-height: 1101px) and (max-height: 1200px) {


  .altoCarrousel3 {
    height: 26vh;
  }
  /* .alto_carrusel-videos {
    height: 50vh;
  } */
}

@media (min-height: 1201px) and (max-height: 1500px) {

 


  .altoCarrousel3 {
    height: 21vh;
  }
  /* .alto_carrusel-videos {
    height: 47vh;
  } */
}

@media (min-height: 1501px) {

  .altoCarrousel3 {
    height: 21vh;
  }
  /* .alto_carrusel-videos {
    height: 45vh;
  } */
}


.carousel-indicators-abajo {
  position: absolute;
  bottom: -10px;
  }


.carousel-indicators.middle {
  left: 0;
  right: 0;
  top: auto;
  bottom: 15px;
  text-align: center;
}
  .carousel-indicators.middle li {
      float: none;
      display: inline-block;
  }


  .alto-titulo-vlog-mobile{
    height: 70px;
  }