
.alto_carrusel {
    position: relative;
    height: 45vw;
    min-height: 500px;
  }

  .my_card_carrusel {
    left: 4.5vw !important;
    height: 100%;
    display: flex;
    z-index: 3;
  } 
  
  .zindex-3000 {
    z-index: 3000!important;
  }

.img_carrusel {
  position: relative;
    /* left: -420px; */
    left: -43vw;
    width: 33vw;
    height: 100%;
}  



.img_carrusel-team {
  position: relative;
  
  top:-10px;
  /* left: -420px; */
  left: -33vw;
  width: 33vw;
  height: 100%;
}  

.video_carrusel {
  position: relative;
  /* top: -0vw; */
  left: -36vw;
  /* left: -33vw; */
  width: 33vw;
  /* height: 100%; */
}  

   .contenido_card {
     position: relative;
     left: 3vw; 
     top: -26vw; 
     width: 35vw; 
     height: 145vw;    
  }
   

  .contenido_card_team {
    position: relative;
    left: 3vw; 
    top: -32vw; 
    width: 35vw; 
    height: 145vw;    
 }
  


  .dimension_card_carrusel {
    /* left: 25px; */
    left:-1vw;
    position: relative;
    max-height: 35vw; 
    width:45vw ;
    /* height: 80vh; */
  }
  

  
  .dimension_card_carrusel_team {
    /* left: 25px; */
    left:3vw;
    position: relative;
    max-height: 39vw; 
    width:45vw ;
    /* height: 80vh; */
  }
  
  
  