
.font_titulo_formulario {
    font-family:  Montserrat-Regular;
    color: #ffffff;
    font-size: 1.9vw;
    
    
  }
  
  .font_subtitulo_formulario {
    font-family:  Montserrat-Regular;
    color: #E40067;
    font-size: 1.3vw;
    line-height: 19px;
  }
  
  .font_texto_formulario {
    font-family:  Montserrat-Regular;
    color: #E40067;
    font-size: 0.7vw;
    /* line-height: 39px; */
  }




   .MuiInput-root {
    color: #e42078!important;
    font-family:  Montserrat-Regular !important;
  } 


  .MuiFormLabel-root.Mui-focused {
    color:#f8f8f8 !important;   
  }


  .MuiFormLabel-root {
    color: #e42078!important;
    font-family:  Montserrat-Regular !important;
   
    
  }

  
  .MuiOutlinedInput-root {
    border-color: rgb(194, 226, 13) !important;
  } 



  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: rgb(194, 226, 13) !important;
  } 



  .MuiFormControlLabel-root {
    color: #f0ebed!important;
    font-family:  Montserrat-Regular !important;
  }

