html,
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  font-size: 100%; 
  padding: 0;
  margin: 0;
  font-family: Montserrat-Light;
}

a {
  color: inherit;
  text-decoration: none;
}


* {
  box-sizing: border-box;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.navigation {
  font-size: 16px !important;
  font-family: Montserrat-BoldItalic !important;
  margin: 0 30p !important;
}

.navigation .nav-item .nav-link {
  color: #fff;
  margin-right: 15px;
}

.separador_menu {
  color: #fff;
  font-family: Montserrat-Light;
  font-size: 30px;
}

.navigation .nav-item .nav-link:hoover {
  background-color: #03adb6e8;

  color: #fff;
  border-radius: 5px;
  transition: ease-in 0.5s;
  transition-delay: 0.9s;
}



.vertical_text {
  /* transform: rotate(-90deg);   */
  color: #fff;

  position: absolute;
  z-index: 3;
}

.rotate {
  transform: rotate(-90deg);

  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.iconos {
  color: rgb(107, 107, 107);
  position: relative;
  z-index: 3;
}

/* .menu_barras {
  color: #fff;
} */


.circulo {
  background: #ffffff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  padding: 10px;
}



.row {
  margin-right: 0px;
  margin-left: 0px;
  
}

.margen_iconos_izquierda {
  margin-right: 12px;
}





.corte_cards {
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
}

.card-img-top {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.my_card02 {
  max-width: 80%;
   height: 27rem; 
  position: relative;
 
  margin-top: 30px;
  
}

.carousel-inner{
  height: 50vh;
}
.my_card {
  max-width: 330px;
  height: 27rem;
  /* webkit-border-radius: 30px; */
  -moz-border-radius: 30px;
  border-radius: 30px;
  z-index: 3;
}



.boton_card {
  background-color: #e50067;
  /* width: 15vw; */
  /* height: 8vh; */
  /* width:140% */
}

.img-rounded {
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.color_background {
  /* background-color: #24325a; */
  background-color: #17979E;
}

.color_carrusel {
  background-color: #EFF3F7;
}


.img_carrusel {
  position: relative;
  left: -420px;
  width: 35vw;
  height: 100%;
  
  /* height: 380px; */
  /* z-index: 2000 !important; */
}

.contenido_card {
  position: relative;
  /* top: -350px; */
  top: -94%;
  left: 80px;
}

.dimension_card {
  left: 25px;
  position: relative;
  /* //max-height: min-content; */
  width:45vw ;
  height: 80vh;
}

.alto_carrusel {
  position: relative;
  height: 100vh;
}




	
.carousel-control-prev-icon {
  
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f79caf' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
}

.carousel-control-next-icon {

   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f79caf' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); 
} 


div.vertical-line{
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  float: left; /* Causes the line to float to left of content. 
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
}


/* .carousel .carousel-indicators li {  background-color: gray; }
.carousel .carousel-indicators li.active { background-color: var(--primary); } */


.color_fondo {
  background-color: #eff3f7;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  
}




.div_content02a {
  /* background-color: #24325a; */
  background-color: #17979E;
  clip-path: polygon(0% 2%, 100% 0%, 100% 1000%, 0% 100%);
 
}


.div_content02b {
  /* background-color: #24325a; */
  background-color: #17979E;
  clip-path: polygon(0% 0%, 100% 0%, 100% 97%, 0% 100%);
   /* width: 100%; */
  /* height: 100%; */ 
  /* height: 500px; */
  /* top: -30px; */
   /* position: relative; */
  /* left: 30px; */
}

.div_content03a {
  background-color: #EFF3F7; 
  /* clip-path: polygon(0 2%, 100% 0%, 100% 97%, 0% 100%); */
  /* width: 100%; */
  /*height: 100%; */
  /* height: 500px; */
  /* top: -30px; */
  /* position: relative; */
  /* left: 30px; */
}

.div_content03b {
  background-color: #EFF3F7; 
   clip-path: polygon(0 0%, 100% 0%, 100% 95%, 0% 100%); 
  /* width: 100%;
  height: 100%; */
  /* height: 500px; */
  /* top: -30px; */
  /* position: relative; */
  /* left: 30px; */
}





div.vertical-line{
  width: 2px; /* Line width */
  background-color: #E50067; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  float: right; /* Causes the line to float to left of content. 
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
    height: 100%;
}

  
  

.iconos2 {
  color: #E50067; 
   width: 32px;
   text-align:right;
  
  /* border-radius: 50%; */
  /* text-align: center; */
  /* line-height: 40px; */
  /* vertical-align: text-top; */
  /* padding: 10px; */
}


.footer_path {
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
  
}

.no-gutter {
  --bs-gutter-x:0px !important;
}



.close {
  color: #fff; 
  opacity: 1;
}


.blur   {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}
#overlay    {
  position: fixed;
  display: none;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(255,255,255,.8);
  z-index: 999;
}

.mysticky{
 
  position: fixed; /* Fixed/sticky position */
   /* left: 25px;  */
  top: 30px;
  right: 30px;
  

 
  
  z-index: 99; /* Make sure it does not overlap */

  cursor: pointer; /* Add a mouse pointer on hover */

}

/*Menu lateral  */
 /* The sidepanel menu */
 .sidepanel {
  /* height: 250px; Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  height: 100%;
  position: fixed; /*Stay in place*/
  z-index: 110; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable horizontal scroll */
  padding-top: 10px; /* Place content 60px from the top */
  transition: 0.3s; /*0.5 second transition effect to slide in the sidepanel*/
  clip-path: polygon(0 0, 100% 0, 76% 100%, 0% 100%);
  background-color: #24325A;
  /* box-shadow: 0px 10px 10px -6px black; */
    /* Sombra superior sin desenfoque */
    /* box-shadow: 5px -5px 0 2px #444; */
    box-shadow: 5px 5px 45px #222 inset;
}
/* 





/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}



.boton_abrir_menu:hover {
  background-color: #444;
} 


.myblur{
  filter: blur(2px);
  /* transform: scale(0.95); */
   /* transition: 0.5s;   */
  }


  .logo-img {
    transform: scale(1.1);
  }

  
  .logo-img-footer {
    transform: scale(1.2);
  }

  .logo-img-footer2 {
    transform: scale(1);
  }


