
#container table {
    border-spacing: 0px;
    border-collapse: separate;
  
}
#container table tr td {
   
    border-bottom: 1px solid rgba(128, 128, 128, 0.336) ;


 }


 .lineainferiortabla {
    border-bottom: 1px solid rgba(128, 128, 128, 0.336) ;
 }
 /*
#container table tr:hover td {
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
} */


.font-card-menu-crashkurse-titulo{
    font-family: Montserrat-Bold;
    /* color: #24325a; */
    color: #233978;
    font-size: 1rem;
}

.font-card-menu-crashkurse{
    font-family: Montserrat-Bold;
    /* color: #24325a; */
    color: #233978;
    font-size: 1rem;
}



/* The animation code */
@keyframes cursosanim {
    from {right: 0px;color: #233978;}
    to {right:-0.5vh;color: #233a7846;}
  }
  
  
  
  .myanimacioncursos:hover {  
    position: relative;
    animation-name: cursosanim;
    animation-duration: 0.3s;   
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-delay: 0.1s;
    cursor: pointer;
  }
  
