
#container table {
    border-spacing: 0px;
    border-collapse: separate;
  
}
#container table tr td {
   
    border-bottom: 1px solid rgba(128, 128, 128, 0.336) ;


 }


 .lineainferiortabla {
    border-bottom: 1px solid rgba(128, 128, 128, 0.336) ;
 }
 /*
#container table tr:hover td {
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
} */


.font-card-menu-crashkurse-titulo{
    font-family: Montserrat-Bold;
    /* color: #24325a; */
    color: #e42078;
    font-size: 1rem;
}


.font-card-menu-crashkurse-foot {
  font-family: Montserrat-Bold;
  /* color: #24325a; */
  color: #e42078;
  font-size: 0.8rem;
}

.font-card-menu-crashkurse-foot:hover{

  /* color: #24325a; */
  color:#24325a ;
}

.font-card-menu-crashkurse{
    font-family: Montserrat-Bold;
    /* color: #24325a; */
    color: #233978;
    font-size: 0.9rem;
    line-height: 1.8rem;
}



/* The animation code */
@keyframes cursosanim {
    from {right: 0px;color: #233978;}
    to {right:-0.7vh;color: #233a7846;}
  }
  
  
  
  .myanimacioncursos:hover {  
    position: relative;
    animation-name: cursosanim;
    animation-duration: 0.3s;   
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-delay: 0.1s;
    cursor: pointer;
  }
  


    
.fuente-titulo-cursos {
  font-family:  Montserrat-Bold;
  color: #24325a;
  /* #686868 */
}
  
.fuente-texto-cursos {
    font-family:  Montserrat-Regular;
    color: #24325a ;
    font-size: 1rem;
   
    /* #686868 */
  }


   
.fuente-titulo-servicios {
  font-family:  Montserrat-SemiBold;
  color: #24325a;
  font-size: 2rem;
  /* #686868 */
}
  

  
.fuente-bullet-cursos {
  font-family:  Montserrat-Bold;
  color: #e42078 ;
  font-size: 1.2rem;
  /* #686868 */
}


  
.tabla-titulo-cursos {
   
    font-size: 1.5em;
    font-family: Montserrat-bold;
    color: #24325a;
  }
  


  
  
.tabla-titulo-botones-cursos {
   
  font-size: 1.5em;
  font-family: Montserrat-bold;
  color: #e42078;
}


  
.btn-cursos {
  background-color: #24325a !important;
  /* border-radius:30px 30px 30px 30px; */
  
  /* border-color: #3edf0d  !important; */
  /* color: #ffffff !important; */
}


.btn1-cursos {
  height: 4.5rem;
  width: 9.5rem;
}


.btn2-cursos {
  height: 5rem;
  width: 9.5rem;
}



.btn3-cursos {
  height: 7.5rem;
  width: 9.5rem;
}


.redondo-bordes{
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

.btn-cursos:hover
/* .btn-card:active, */
/* .btn-card:visited, */
/* .btn-card:focus*/ {
  background-color: #e42078 !important;
  /* border-color: rgb(245, 4, 4) !important; */
  color: #ffffff !important;
}


.font-btn-cursos{
  font-family: Montserrat-Bold;
  color: #ffffff;
  /* font-size: 1em; */
  font-size:1.1rem;
  text-overflow: ellipsis;
      
}



.fuente-leistungen{
  font-family: Montserrat-BoldItalic;
  color: #ffffff;
  /* font-size: 1em; */
  font-size:1rem;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

.bordes_leistungen {
  background-color: #009AA0;
}



.font-kosten-cursos{
  font-family: Montserrat-Regular;
  color: #24325a;
  /* font-size: 1em; */
  font-size:1.1rem;
  text-overflow: ellipsis;
      
}


.espacio {
  height:19vh;
}





.boton_flecha{
  width: auto;
}