.bannermain_gris {
  background-size: auto, cover;
  /* height: 100vh; */
  /* max-height: 100vh; */
 

  
  /* text-align: left; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-position: 100% 57%; */
  background-repeat: no-repeat;
  background-image: linear-gradient(
      /* 150deg, */ /* to top right, */ 
      215deg,
      rgba(36, 50, 90, 0.95),
      rgba(67, 183, 174, 0.8)
    ),
    url("/img/image01.jpg");
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
}

.bannermain {
  background-size: auto, cover;
  height: 100vh; 
  max-height: 100vh;
  
  /* height: auto important; */
  /* min-height:max-content !important; */
  /* min-height: 80vh;
  
  /* height: auto; */
 
  background-repeat: no-repeat;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-position: 100% 57%; */
  background-image: linear-gradient(
      /* 150deg, */
      /* to top right, */
      215deg,
      rgba(36, 50, 90, 0.95),
      rgba(67, 183, 174, 0.8)
      
     
    ),
    url("/img/image01.jpg");
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
 
}
