@media (min-width: 992px) {
  .bannermain {
    display: grid;

    grid-template-columns: 12% 75% 10%; /*tres columnas de igual ancho*/
    grid-template-rows: 15vh 95%; /*total de filas depende de cantidad elementos*/

    /* grid-template-rows: 15% 75%; */
    margin-bottom: 5vh;

    background-size: auto, cover;
    /* height: 100vh; */
    /* max-height: 100vh;  */

    background-repeat: no-repeat;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* 
    background-image: linear-gradient(
         215deg,
        rgba(36, 50, 90, 0.95),
        rgba(67, 183, 174, 0.8)
      ),
      url("/img/image01.jpg");
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%); */
  }
}

.bannermain-variable {
  display: grid;

  grid-template-columns: 12% 75% 10%; /*tres columnas de igual ancho*/
  grid-template-rows: 15vh 92%; /*total de filas depende de cantidad elementos*/

  padding-bottom: 10vh;

  background-size: auto, cover;
  height: max-content;

  background-repeat: no-repeat;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: linear-gradient(
      215deg,
      rgba(36, 50, 90, 0.95),
      rgba(67, 183, 174, 0.8)
    ),
    url("/img/image01.jpg");
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%); */
}

.bannermain-quiz {
  display: grid;

  grid-template-columns: 12% 75% 10%; /*tres columnas de igual ancho*/
  /* grid-template-rows: 15% auto; total de filas depende de cantidad elementos */
  grid-template-rows: 15vh auto;
  padding-bottom: 50px;
  /* gap: 1em; */
  /* row-gap: 1em; */
  /* height: max-content; */

  background-size: auto, cover;
  /* height: 90vh; */

  /* max-height: 100vh; */

  /* height: auto important; */
  /* min-height:max-content !important; */
  /* min-height: 80vh;
  
  /* height: auto; */

  background-repeat: no-repeat;
  /* text-align: left; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-position: 100% 57%; */
  background-image: linear-gradient(
      215deg,
      rgba(36, 50, 90, 0.95),
      rgba(67, 183, 174, 0.8)
    ),
    url("/img/agilcheckbackground.jpg");
}
@media (max-width: 992px) {
  .bannermain-quiz {
    grid-template-rows: 30% auto;
  }
  /* 
  .item-titulo {
    grid-column: 1/4 !important;
    grid-row: 2/3 !important;
  } */

  /*   
.my_quiz_respuestas {
  height: auto !important;
} */
}

.bannermain-quiz-questions {
  display: grid;
  height: 100vh;

  grid-template-columns: 12% 75% 12%;
  grid-template-rows: 15vh 85%;
  /* padding-bottom: 50px; */

  /* gap: 1em; */
  /* row-gap: 1em; */

  background-size: auto, cover;
  /* height: 90vh; */

  /* max-height: 100vh; */

  /* height: auto important; */
  /* min-height:max-content !important; */
  /* min-height: 80vh;
  
  

  background-repeat: no-repeat;
  /* text-align: left; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-position: 100% 57%; */
  background-image: linear-gradient(
      215deg,
      rgba(36, 50, 90, 0.95),
      rgba(67, 183, 174, 0.8)
    ),
    url("/img/agilcheckbackground.jpg");
}

@media (max-width: 992px) and (orientation: landscape) {
  .bannermain-quiz-questions {
    grid-template-rows: 15% 85%;
    height: 150vh;
  }
  .item-titulo {
    align-self: auto !important;
  }
}

.bannermain-quiz-result {
  display: grid;
  /* height: 70vh; */

  grid-template-columns: 12% 75% 10%;
  grid-template-rows: 15vh 90%;
  /* padding-bottom: 50px; */

  /* gap: 1em; */
  /* row-gap: 1em; */

  background-size: auto, cover;
  /* height: 90vh; */

  /* max-height: 100vh; */

  /* height: auto important; */
  /* min-height:max-content !important; */
  /* min-height: 80vh;
  
  

  background-repeat: no-repeat;
  /* text-align: left; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-position: 100% 57%; */
  background-image: linear-gradient(
      215deg,
      rgba(36, 50, 90, 0.95),
      rgba(67, 183, 174, 0.8)
    ),
    url("/img/agilcheckbackground.jpg");
}

@media (min-height: 400px) and (max-height: 500px) {
  .bannermain-quiz-result {
    height: 100vh;
  }
}

@media (min-height: 501px) and (max-height: 700px) {
  .bannermain-quiz-result {
    height: 80vh;
  }
}

@media (min-height: 701px) and (max-height: 900px) {
  .bannermain-quiz-result {
    height: 70vh;
  }
}

@media (min-height: 901px) and (max-height: 1100px) {
  .bannermain-quiz-result {
    height: 70vh;
  }
}

@media (min-height: 1101px) and (max-height: 1300px) {
  .bannermain-quiz-result {
    height: 60vh;
  }
}

@media (max-width: 992px) {
  .bannermain-quiz-result {
    height: 100vh;
  }
}

.bannermain-quiz-questions-mobile {
  /* position: fixed; */
  display: grid;
  height: 100vh;
  width: 100vw;
  /* border-style: solid; */
  /* border-color: green; */

  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 8% 7% auto 5% 13%;
  justify-items: center;
  align-items: start;

  /* background-size: auto, cover; */
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: 80% 100%;

  /* background: url("/img/agilcheckbackground.jpg") no-repeat center center ;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-image: linear-gradient(
      215deg,
      rgba(36, 50, 90, 0.95),
      rgba(67, 183, 174, 0.8)
    ),
    url("/img/agilcheckbackground.jpg");
}

.my_quiz_titulo-mobile {
  padding-top: 3vh;
  grid-row: 1/2;
  grid-column: 1/4;

  align-self: flex-start;
  justify-self: center;
}

.my_quiz_pregunta-mobile {
  grid-row: 2/3;
  grid-column: 2/3;

  padding-top: 3vh;

  justify-self: center;

  /* align-self: flex-end;  */
}

.my_quiz_respuestas-mobile {
  grid-row: 3/4;
  grid-column: 2/3;

  align-self: center;
  justify-self: center;
}

.my_quiz_total_preguntas-mobile {
  grid-row: 4/5;
  grid-column: 2/3;
  /* align-self: flex-end; */
}

.my_quiz_boton-mobile {
  position: relative;
  grid-row: 5/6;
  grid-column: 1/4;
  align-self: center;
  top: -3.5vh;
}

.my_quiz_boton-home {
  position: relative;
  grid-row: 5/6;
  grid-column: 2/3;
  justify-self: start;
  align-self: center;
  top: -3.5vh;
}

@media screen and (orientation: portrait) {
  .my_quiz_titulo {
    height: 12vh !important;
  }
  .my_quiz_pregunta {
    height: 8vh !important;
  }
  .my_quiz_respuestas {
    height: 32vh !important;
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  #altcontainer > .col-8 {
    width: 85%;
  }
  #altcontainer > .col-3 {
    width: 35%;
  }
  .btn-leinstungen-magenta {
    font-size: 3vh !important;
  }
  .font_small_letter_white-quiz-result {
    font-size: 3vh !important;
  }
  .modal-dialog {
    margin-left: -25vw !important;
    margin-top: 15vh;
  }
}
/* .my_quiz_boton {
  position: absolute;

  top: 100px !important;
} */

.linea-obliqua {
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
}

@media (max-height: 600px) and (orientation: portrait) {
  .bannermain {
    height: 85vh;
  }
}

@media (min-height: 601px) and (max-height: 700px) {
  .bannermain {
    height: 82vh;
  }
}

@media (min-height: 701px) and (max-height: 800px) {
  .bannermain {
    height: 70vh;
  }
}

@media (min-height: 801px) and (max-height: 900px) {
  .bannermain {
    height: 70vh;
  }
}

@media (min-height: 901px) and (max-height: 1200px) {
  .bannermain {
    height: 60vh;
  }
}

@media (max-width: 991px) and (orientation: portrait) {
  .bannermain {
    display: grid;

    grid-template-columns: 12% 75% 10%; /*tres columnas de igual ancho*/

    /* grid-template-rows: 15% 75%; */
    margin-bottom: -7vh;

    background-size: auto, cover;
    /* height: 100vh; */
    /* max-height: 100vh;  */

    background-repeat: no-repeat;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@media (max-width: 991px) and (min-width: 767px) and (orientation: landscape) {
  .bannermain {
    display: grid;
    grid-template-columns: 12% 75% 10%;
    height: 85vh;
    align-content: space-evenly;
  }
  .item-titulo .g-0 .mt-4 {
    margin-top: 11vh !important;
  }

  button .mb-5 {
    margin-bottom: 0vh !important;
    padding-bottom: 0vh !important;
  }

  .mt-5 {
    margin-top: 2.5vh !important;
  }

  .mb-3 {
    margin-bottom: 1.5vh !important;
  }

  .pb-3 {
    padding-bottom: 2.5vh !important;
  }
}

@media (max-width: 766px) and (orientation: landscape) {
  .bannermain-hhome {
    display: grid;
    grid-template-columns: 12% 75% 10%;
    grid-template-rows: 12% 88% !important;
    height: auto !important;
    align-content: space-evenly;
    padding-bottom: 20px !important;
  }

  .bannermain {
    display: grid;
    grid-template-columns: 12% 75% 10%;
    height: 85vh;
    align-content: space-evenly;
  }

  .item-titulo .g-0 .mt-4 {
    margin-top: 11vh !important;
  }

  button .mb-5 {
    margin-bottom: 0vh !important;
    padding-bottom: 0vh !important;
  }

  .mt-5 {
    margin-top: 2.5vh !important;
  }

  .mb-3 {
    margin-bottom: 1.5vh !important;
  }

  .pb-3 {
    padding-bottom: 2.5vh !important;
  }
}

.left_column_color {
  transform: skew(3deg);
  background-color: rgba(255, 255, 255, 0.2);
  height: 100vh;
  width: 12%;
  right: -4vw;
  /* left: -11%; */
  top: 0;
  position: absolute;
  z-index: 2;
  justify-content: flex-end;
  text-align: center;
  align-items: flex-end;
  flex-direction: column;
  display: flex;
  padding-bottom: 150px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-right: 0;
}

img.grayscale {
  transition: all 0.1s linear;
  filter: gray opacity(60%); /* IE6-9 */
  -webkit-filter: grayscale(100%) opacity(60%); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(100%) opacity(60%); /* Microsoft Edge and Firefox 35+ */
  /* filter: opacity(20%); */
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.img-sponsors1 {
  height: 7.5vw;
}

.img-sponsors2 {
  height: 7.8vw;
}

.img-sponsors3 {
  height: 8.7vw;
}

.img-sponsors4 {
  width: 15vw;
}

.img-sponsors5 {
  height: 7.5vw;
}

.img-sponsors6 {
  height: 5vw;
}

.img-blogs {
  max-width: 500px;
  /* height: 20vw; */
}

.letra_chica {
  font-size: 0.8rem;
  color: #e42078;
}

.bannermain-ajustable {
  position: relative;
  z-index: 1;

  display: grid;

  grid-template-columns: 12% 75% 10% auto; /*tres columnas de igual ancho*/
  grid-template-rows: 15vh auto; /*total de filas depende de cantidad elementos*/

  background-size: auto, cover;

  background-repeat: no-repeat;
  /* text-align: left; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-position: 100% 57%; */
}

.linea_lateral_inferior {
  background-image: linear-gradient(
      215deg,
      rgba(36, 50, 90, 0.95),
      rgba(67, 183, 174, 0.8)
    ),
    url("/img/image01.jpg");
  clip-path: polygon(0 0, 100% 0%, 100% 94%, 0 100%);
  /* clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%); */
  height: 100%;
  z-index: 2;
}

.item-fondo {
  grid-column: 1/5;
  grid-row: 1/3;
}

.bannermain-team {
  display: grid;

  grid-template-columns: 12% 75% 10% auto; /*tres columnas de igual ancho*/
  /* grid-template-rows: 15% 75% 10%; total de filas depende de cantidad elementos */
  /* gap: 1em; */
  /* row-gap: 1em; */

  /* padding-top: 5vh; */
  /* height: 50%; */
  padding-bottom: 0vh;

  background-size: auto, cover;
  /* height: max-content; */
  /* max-height: 100vh; */

  /* height: auto important; */
  /* min-height:max-content !important; */
  /* min-height: 80vh;
  
  /* height: auto; */

  background-repeat: no-repeat;
  /* text-align: left; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-position: 100% 57%; */
  background-image: linear-gradient(
      /* 150deg, */ /* to top right, */ 215deg,
      rgba(36, 50, 90, 0.95),
      rgba(67, 183, 174, 0.8)
    ),
    url("/img/image01.jpg");
  /* clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%); */
}

@media (max-width: 991px) and (min-width: 767px) and (orientation: landscape) {
  .bannermain-team {
    grid-template-rows: 13% 87%;
    padding-bottom: 2rem !important;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  .bannermain-team {
    grid-template-rows: 10% 90%;
    padding-bottom: 2rem !important;
  }
}
.volumen_icon_size {
  font-size: 1px !important;
}

@media (max-height: 992px) {
  .offset-lateral-menu {
    scroll-margin-top: 10vh;
  }
}
