/* Style the button that is used to open the sidepanel */

#boton_abrir_menu {
  visibility: hidden;
}

.boton_abrir_menu {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
}

/*Menu lateral  */
/* The sidepanel menu */
.sidepanel {
  width: 0px;
  height: 100%;
  position: fixed;
  z-index: 110;
  top: 0;
  right: 0;

  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable horizontal scroll*/
  padding-top: 10px; /* Place content 60px from the top */
  transition: 0.3s; /*0.5 second transition effect to slide in the sidepanel*/
  clip-path: polygon(36% 0, 100% 0%, 100% 100%, 61% 100%);

  background-color: white !important;
}

.sidepanel-new {
  width: 30vw;
  height: 100%;
  position: fixed;
  z-index: 2110;
  top: 0;
  right: 0;

  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable horizontal scroll*/
  padding-top: 10px; /* Place content 60px from the top */
  transition: 0.3s; /*0.5 second transition effect to slide in the sidepanel*/
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 60% 100%);

  background-color: white !important;
}

@media (max-width: 992px) and (orientation: portrait) {
  .sidepanel-new {
    width: 160vw !important;
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  .sidepanel-new {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 38% 100%) !important;
  }
}

.titulo_menu_flotante {
  /* width: 200px; */
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  /* color: #f1f1f1; */
}

.sidepanel-new a:hover {
}

.boton_abrir_menu:hover {
  background-color: #444;
}

.myblur {
  filter: blur(2px);
  /* transform: scale(0.95); */
  /* transition: 0.5s;   */
}

.btn-xl {
  padding: 10px 20px !important;
  font-size: 20px !important;
  border-radius: 10px !important;
  width: 50% !important;
}

.boton_cerrar_menu_lateral {
  cursor: pointer;
}

@media (max-width: 991px) and (orientation: landscape) {
  #chat-application {
    bottom: 1px !important;
    left: 4px !important;
  }
}
