.modalformcookie {

    --ratio: 2.483;
    position: fixed; /* Sit on top of the page content */
    
    width: 29vw; /* Full width (cover the whole page) */
    height: -webkit-calc(29vw * --ratio);
    height: -moz-calc(29vw * --ratio);
    height: calc(29vw * --ratio);

    

    /* height:72vh; */
    /*72vh;  Full height (cover the whole page) */
    
    right: 10vw;
    bottom: 7vh; 
    /* color: blue; */
 
    z-index: 9999; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

    background-color: #fff;

    box-shadow: 0px 0px 16px 1px #0ff;
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
}

@media (max-width: 915px) and (min-width:584px){
  .modalformcookie{
    width: 40vw;
  }
  .boton-form-cookies{
    width: 18vw!important;
    margin-bottom: 4px;
    font-size: 1.4vw!important;
  }
}

@media (max-width:583.98px) and (min-width:490px){
  .modalformcookie{
    width: 45vw!important;
  }
  .boton-form-cookies{
    width: 30vw!important;
    margin-bottom: 4px;
    font-size: 2vw!important;
  }
}

@media (max-width:489px){
  .modalformcookie{
    width: 50vw!important;
  }
  .boton-form-cookies{
    width: 30vw!important;
    margin-bottom: 4px;
    font-size: 2.3vw!important;
  }
}

.mostrar {
    display: block;

}

.ocultar{
 display: none;
}

.fuente_titulo_form_cookie {
    
    color: #24325a!important   ;
    font-size: 1rem;
    
    font-family: Montserrat-Bold;
}


.fuente_texto_form_cookie {
    
    color: #24325a!important   ;
    font-size: .7rem;
    
    font-family: Montserrat-Regular;
}




.boton-form-cookies {
    /* padding: 0.5rem 1rem; */
   --radio: 20px;
    color: #ffffff;
     border: 0px solid blue!important;  
  
    /* background-color: rgba(248, 45, 124, 42%) !important; */
    background-color: #e42078!important;
  
    -webkit-border-radius: 7px!important; 
    -moz-border-radius: 7px!important; 
  
    
   
    border-radius:  7px !important;
    

       font-family: Montserrat-Bold;
    font-size: 1vw;
    width: 12.5vw;
  
    /* border: 0px solid #f82d7c; */
  }

  .boton-form-cookies:hover {
    background-color: #24325a   !important;
  }
  

  .fuente_footer_texto_form_cookie{
    font-family: Montserrat-Regular;
    font-size: 1vw;
    color:#24325a   ;
  }

  
  .fuente_switch_form_cookie{
    font-family: Montserrat-Regular;
    width: 1rem;
    color:#24325a   ;
  }