
.color-body-modal{
    /* background-color: #F6F6F6; */
    background-color: #F6F6F6!important;
  }


  .titulo-modal {
      font-family: Montserrat-SemiBold;
      color: #243A78;
      font-size: 1.5vw;
  }


  .ancho-edit2 {
    width: 100% !important;
  }
  

  

  .texto-email{
    font-family: Montserrat-Regular;
      color: #243A78;
      font-size: 0.9vw;
      text-align: left;
  }


  .texto-AGBS{
    font-family: Montserrat-Regular;
      color: #243A78;
      font-size: 0.8vw;
      text-align: left;
  }

  .privacy-modal {
    font-family: Segoe-UI;
    color: #243A78;
    font-size: 1vw;
}

  @media (min-width:768px) and (max-width: 992px){
    .texto-AGBS{
      font-size: 1.2vw !important;
    }
    .privacy-modal{
      font-size: 1.4vw!important;
    }
  }
  
  @media (min-width:576px) and (max-width: 767px){
    .privacy-modal{
      font-size: 1.7vw!important;
    }
    .titulo-modal{
      font-size: 2vw!important;
    }
    .texto-AGBS{
      font-size: 1.2vw !important;
    }
  }

  @media (max-width: 575px){
    .texto-AGBS{
      font-size: 2.2vw!important;
    }
    .titulo-modal{
      font-size: 2.8vw!important;
    }
    .privacy-modal{
      font-size: 2.2vw!important;
    }
  }

 

 /* color del checkbox en el formulario  */
/* .MuiTypography-root{ */
  /* color: #243A78 !important;  */
     /* color: #ffffff ;   */
  /* font-family: Segoe-UI !important;  */
  /* font-size: 0.8rem!important;  */
/* } */



.boton_modal_form {
  /* background-color: #e50067; */
  color: white;
  background-color: #24325a   ;
  border-color:#24325a ;
  border-radius: 6px;
  
}




.boton_modal_form:hover, boton_modal_form:active , boton_modal_form:visited , boton_modal_form:focus    {
  color: #ffffff!important;
  background-color:#e42078!important; 
  border-color:#e42078 ;
}



.boton_modal_form2 {
  /* background-color: #e50067; */
  color: #ffffff;
  background-color: #24325a;
  border-color:#24325a ;
  border-radius: 6px;
  
}

.boton_modal_form2:hover {
  color: #ffffff!important;
  background-color:#F82D7C; 
  border-color:#F82D7C ;
}