

.font1-card-team{
    font-family: Montserrat-Black;
    color: #030066;
    font-size: 1.1rem;
}


.font2-card-team{
    font-family: Montserrat-Medium;
    color: #030066;
    font-size: 1.1rem;
}


.font3-card-team{
    font-family: Montserrat-Black;
    color: #030066;
    font-size: 1.1rem;
}



.imagen-team-card{
    
    width: 100%;
    /* aspect-ratio: 1 / 0.5; */
     /* height:240px;  */
     /* height: 8vh; */

    border-radius:8px 8px 0px 0px;
 
 /*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
     /* object-fit:scale-down; */
     /* object-fit:contain; */
 
 }


 .redondear-card {
    border-radius:8px 8px 8px 8px;
    /* max-height: 50vh; */
    /* height: 50vh; */

 }


 
.btn-card-blog {
    background-color: #24325a !important;
    /* border-radius:30px 30px 30px 30px; */
    /* height: 40px; */
    /* border-color: #3edf0d  !important; */
    /* color: #ffffff !important; */
  }
  
  .btn-card-blog:hover,
  /* .btn-card:active, */
  /* .btn-card:visited, */
  /* .btn-card:focus*/ {
    background-color: #e42078 !important;
    /* border-color: rgb(245, 4, 4) !important; */
    color: #ffffff !important;
  }


  .font-btn-card-team{
    font-family: Montserrat-SemiBold;
    color: #ffffff;
    font-size: 1vw;
        
}
