.my_card_carrusel {
  left: 4.5vw !important;
  height: 76%;

  display: flex;
  z-index: 3;
}

.font_card_title_video {
  position: relative;
  font-family: Montserrat-Bold;
  color: #24325a;

  font-size: 1.2vw;

  text-transform: uppercase;

  text-align: left;

  margin-right: 7vw;
  margin-left: 1vw;
}

.contenedor_margen {
  height: 10%;

  display: flex; /*added*/
  flex-direction: column; /*added*/
}

.font_carrusel_video {
  font-family: Montserrat-Regular;
  color: #24325a;

  font-size: 0.9rem;

  text-align: left;

  margin-right: 6.5vw;
  margin-left: 0.5vw;
}

@media (min-width: 992px) {
  .ratio-16x9-vlog {
    --bs-aspect-ratio: 50%;
  }
}

.container_video {
  position: relative;
  left: -10vw;

  position: relative;
  max-width: 100%;
  height: 100%;

  /* padding-top: 56.25%; 16:9 Aspect Ratio*/
}

.dimension_card_carrusel {
  left: -1vw;
  position: relative;
  width: 45vw;
}

.texto_video_fondo {
  right: -10vw;

  position: relative;

  width: 35vw;

  background-color: white;

  /* height: 89%; */
  height: 27vh;

  display: flex; /*added*/
  flex-direction: column; /*added*/
  overflow: auto;
  -webkit-overflow-scrolling: auto;
}

.contenedor_texto_overflow {
  height: 30vh;
  display: flex; /*added*/
  flex-direction: column; /*added*/
}

.texto_video {
  /* left: 25px; */
  left: -10vw;
}

.contenedor_video {
  position: relative;

  /* top:-50px; */
  top: -1.5vh;

  z-index: 1;
}

@media (max-width: 991px) {
  .contenedor_video {
    top: -92px !important;
  }


  
}

@media (min-height: 601px) and (max-height: 800px) {
  .contenedor_video {
    top: -3.8vh;
  }
}

@media (max-height: 801px) {
  .contenedor_video {
    top: -5.3vh;
  }

.texto_video_fondo {
  height: 37vh;
}
}


@media (min-height: 900px) and (max-height: 1000px)  {
 

.texto_video_fondo {
  height: 37vh;
}
}



@media (min-height: 900px) and (min-height: 1000px)  {
 

  .texto_video_fondo {
    height: 27vh;
  }
  }

.icono_volumen {
  position: relative;
  top: -10vh;
  left: -44vw;
  cursor: pointer;
  z-index: 10 !important;
  /* background-color: chartreuse; */
}

.offset-video {
  position: relative;
  top: -1vh;
}
