

  .my_card_carrusel {
    left: 4.5vw !important;
    height: 76%; 
    

    display: flex;
    z-index: 3;
  } 


  .font_card_title_video {
    position: relative;
    font-family: Montserrat-Bold;
    color: #24325a;
    /* font-style: italic;  */
    /* font-size: 3.4vh;  */
     font-size: 0.9vw;
     /* font-weight: 100; */
     text-transform: uppercase; 
     /* line-height: 90%; */
     text-align: left;

     margin-right: 7vw ;
     margin-left:1vw;
      /* padding: 4vw;  */
     /* left:-40px; */
  }

  
  .font_carrusel_video {
    font-family: Montserrat-Regular;
    color: #24325a;
  
    font-size: 0.7rem;
    /* font-weight: 400; */
    /* line-height: 32px; */

    text-align: left;
    /* text-justify: inter-word; */
    margin-right: 6.5vw ;
    margin-left:0.5vw;
   
  }
  


  
  .texto_video {
    position: relative;
    left: 1vw; 
    top: -23vw; 
    width: 34vw; 
    height: 145vw;    
    align-self: center;
 }

.container_video {
   position: relative;
   left: -10vw;   
   overflow: hidden;
   width: 100%; 
   height: 100%;   
}
  
  
  .responsive-iframe {
    position: relative; 
    left: 0;
    bottom: 0;
    right: 0; 
    width: 100%; 
    aspect-ratio: 16 / 9;         
  }

  
  .dimension_card_carrusel {
    left:-1vw;
    position: relative;
    width:45vw ;
  }
  

  
  
  .texto_video_fondo {
    /* left: 25px; */
    right:-10vw;
    
    position: relative;
    /* max-height: 35vw;  */
    width:35vw ;

    background-color: white;
     /* aspect-ratio: 1 / 0.75;  */
     /* aspect-ratio: 16 / 9; */
   height: 90% 
   
  }

  
  
  .texto_video {
    /* left: 25px; */
    left:-10vw;
    
    /* position: relative; */
    /* max-height: 35vw;  */
    /* width:35vw ; */

    /* background-color: white; */
     /* aspect-ratio: 1 / 0.75;  */
     /* aspect-ratio: 16 / 9; */
   /* height: 90%  */
   
  }
/* 
  .color_indicadores_debajo {
     color: #F3C8D3; 
    color: chartreuse!important;
  }
   */